{% if (not aSurveyInfo.printPdf) %} 
    <h2>{{ gT("Survey name (ID):") }} {{aSurveyInfo.surveyls_title}} ({{aSurveyInfo.sid}})</h2>
{% endif %} 
{% set groupcount = 0 %}
<table class="table table-bordered">
{% for groupid,group in aSurveyInfo.groupArray %}
    <tbody class="groupSection {% if groupcount %}page-break-before{% endif %}"> 
        <tr class="groupheader"><th colspan="2"><strong class="h4">{{group.group_name}} ({{group.gid}})</strong></th></tr>
        {% for questionId,question in group.answerArray %}
        {% set questionTemplate = './subviews/printanswers/question_types/template_' ~ question.questionclass ~ '.twig' %}
        {{ include(questionTemplate) }}
        {% endfor %} 
    </tbody>
    {% set groupcount = groupcount+1 %}
{% endfor %}
</table>
