{% extends "./subviews/printanswers/printanswers_question.twig" %}
{% block question_answer %}
{% set basecode = question.title %}
<table class='table table-bordered table-print'>
    <tbody>
    {% for subquestions in question.subquestions %}
        <tr class="subquestiontext"><th colspan="2">
                {% if aSurveyInfo.options.printcode == "on" %}{{ include('./subviews/printanswers/elements/subquestioncode.twig', {'code': basecode ~ subquestions.title }) }}{% endif %}
                {{ subquestions.question }}
        </th></tr>
        {% for title, label in subquestions.answervalueslabels %}
            <tr>
                <th class="col-question">
                    {% if aSurveyInfo.options.printcode == "on" %}{{ include('./subviews/printanswers/elements/subquestioncode.twig', {'code': basecode ~ subquestions.title ~ title}) }}{% endif %}
                    {{label}}
                </th>
                <td>
                    {{ subquestions.answervalues[title] }}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
