{% extends "./subviews/printanswers/printanswers_question.twig" %}
{% block question_answer %}
<table class='table table-bordered table-striped table-print'>
    <tbody>{% set strip = 'even' %}
    {% for subquestion in question.subquestions %}
        {% if not subquestion.answervalue is null %}
            <tr class='strip-{{ strip }}'>
                <th class='col-question'>
                    {% if aSurveyInfo.options.printcode == "on" %}{{ include('./subviews/printanswers/elements/subquestioncode.twig', {'code': subquestion.title}) }}{% endif %}
                    {{subquestion.question}}
                </th>
                <td class='col-answer'>
                    {% if subquestion.answervalue %}
                        {% if subquestion.answervalue is sameas("I") %}
                            {{ gT("Increase") }}
                        {% elseif subquestion.answervalue is sameas("S") %}
                            {{ gT("Same") }}
                        {% elseif subquestion.answervalue is sameas("D") %}
                            {{ gT("Decrease") }}
                        {% endif %}
                    {% else %}
                        {% if aSurveyInfo.options.printshownoanswer == "on" %}
                            {{ gT("No answer") }}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% if strip == 'even' %}
                {% set strip = 'odd' %}
            {% else %}
                {% set strip = 'even' %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
