<!-- START OF GROUP: {{ aGroup.name }} {{ aGroup.gseq }}  -->
{% set themeclass = '' %}
{% if aSurveyInfo.options.questionwrap == 'panelgroup' or aSurveyInfo.options.questionwrap == 'panelgroupq' %}
    {% set panelcolor = aSurveyInfo.options.questioncolor %}
    {% if panelcolor == 'none' %}
        {% set panelcolor = 'default' %}
    {% endif  %}
    {% set themeclass = 'wrap-panel panel panel-' ~ panelcolor %}
{% endif %}
<section id='group-{{ aGroup.gseq }}' class="{{ aSurveyInfo.class.groupoutercontainer }}{{ aGroup.class }} {{ aSurveyInfo.class.groupcontainer }} {{ themeclass }}" {{ aSurveyInfo.attr.questiongroup }}>
    {# The container div itself could often change from a template to another, so we clearly separate it. #}
    {{ include('./subviews/survey/group_subviews/group_container.twig') }}
</section>
<!-- END OF GROUP: {{ aGroup.name }} {{ aGroup.gid }}  -->
