{# Showing question code/number is a survey level setting, so it's inside the array aSurveyInfo #}
<!-- Question {{ aQuestion.code }} -->
{# Question Text #}
{% if not no_include_text %}
    {{ include('./subviews/survey/question_subviews/question_text_container.twig') }}
{% endif %}
{% if panel %} <div class="panel-body"> {% endif %}
{% set ariadescribe = ''  %}
{% if mandatory %}
    {% set ariadescribe = ariadescribe ~ " question-mandatory-" ~ aQuestion.qid  %}
{% endif %}
{# To have default limesurvey behaviour : move this line at end #}
{{ include('./subviews/survey/question_subviews/survey_question_help.twig') }}
{% if aQuestion.help.show %}
    {% set ariadescribe = ariadescribe ~ " question-help-" ~ aQuestion.qid  %}
{% endif %}
{% if ( (aQuestion.valid_message | raw | trim) or (aQuestion.man_message | raw | trim) or (aQuestion.file_valid_message | raw | trim) or mandatoryposition == 'astip') %}
    {{ include('./subviews/survey/question_subviews/valid_message_and_help.twig') }}
    {% if(aQuestion.valid_message) %}
        {% set ariadescribe = ariadescribe ~ " vmsg_" ~ aQuestion.qid  %}
    {% endif %}
    {% if(aQuestion.file_valid_message) %}
        {% set ariadescribe = ariadescribe ~ " file_" ~ aQuestion.qid  %}
    {% endif %}
{% endif %}
{# Answers #}
{% set ariadescribe = ( ariadescribe | trim ) %}
{{ include('./subviews/survey/question_subviews/answers.twig') }}
{% if not aQuestion.help.show %}
    {{ aQuestion.help.text | raw }}
{% endif %}
{% if (panel) %} </div>{% endif %}
<!-- End of question {{ aQuestion.code }} -->
