<div class='{{ aSurveyInfo.class.clearall }}' {{ aSurveyInfo.attr.clearall }}>
    <div class=" {{ aSurveyInfo.class.clearalldiv }} " {{ aSurveyInfo.attr.clearalldiv }}>
        <p>{{ gT("Answers cleared") }}</p>
        <a href="{{ createUrl( "survey/index", {
            'sid': aSurveyInfo.sid,
            'newtest': "Y",
        }) }}" class="{{ aSurveyInfo.class.clearalla }}" {{ aSurveyInfo.attr.clearalla }}>{{ gT("Restart this survey") }}</a>
    </div>
</div>
