{#
    LimeSurvey
    Copyright (C) 2007-2017 The LimeSurvey Project Team / Louis Gac
    All rights reserved.
    License: GNU/GPL License v2 or later, see LICENSE.php
    LimeSurvey is free software. This version may have been modified pursuant
    to the GNU General Public License, and as distributed it includes or
    is derivative of works licensed under the GNU General Public License or
    other free or open source software licenses.
    See COPYRIGHT.php for copyright notices and details.

    (¯`·._.·(¯`·._.· Bootstrap Navigation Bar ·._.·´¯)·._.·´¯)

    This file renders a typical bootstrap navigation bar.
    See: https://getbootstrap.com/components/#navbar

    For the survey navigator ("Next", "Back", etc.), see: navigation/navigator.twig
#}
{% set havepreviouslink = (aSurveyInfo.options.previouslink == 'on' and aSurveyInfo.aNavigator.aMovePrev.show) %}
{% set havenextsubmitlink = (aSurveyInfo.options.nextsubmitlink == 'on' and aSurveyInfo.aNavigator.aMoveNext.show) %}
{% set hasMenu = (aSurveyInfo.options.savelink != 'off' or aSurveyInfo.options.clearalllink != 'off' or aSurveyInfo.options.indexlink != 'off' or aSurveyInfo.options.languagelink != 'off' or havenextsubmitlink or havenextsubmitlink) %}

{% set containerclass = 'container-fluid' %}
{% if (aSurveyInfo.options.container == "on" and aSurveyInfo.options.headercontainer == "on") %}
    {% set containerclass = 'container' %}
{% endif %}
{% set brandlogo = "on" %}
{% if (aSurveyInfo.options.brandlogo == "off" or not imageSrc(aSurveyInfo.options.brandlogofile)) %}
    {% set brandlogo = "off" %}
{% else %}
    {%if aSurveyInfo.options.brandlogoasbanner == "on" %}
        {% set brandlogo = "banner" %}
    {% endif %}
{% endif %}
<!-- Bootstrap Navigation Bar -->
{% if(aSurveyInfo.class.navbar) %}
    {% if(aSurveyInfo.options.fixedheader == 'on') %}
        <div class="invisible navbar navbar-inverse navbar-static-top" aria-hidden="true">
            <div class="{{ containerclass }}">
                {% if brandlogo == "banner" %}
                    {{ image(aSurveyInfo.options.brandlogofile, "", {"class": "logo-as-banner banner img-responsive"}) }}
                {% endif %}
                <div class="{{ aSurveyInfo.class.navbarheader }}">
                    {% if(hasMenu) %}
                        <button type="button" class="{{ aSurveyInfo.class.navbartoggle }}" {{ aSurveyInfo.attr.navbartoggle }}>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    {% endif %}
                    {% if(aSurveyInfo.options.titlelocation != 'content') %}
                        <div class="h1 {{ aSurveyInfo.class.navbarbrand }} {% if( brandlogo == "on") %}with-logo{% endif %}"  {{ aSurveyInfo.attr.navbarbrand }}  >
                            {% if( brandlogo == "on") %}
                                <span class="logo-container">
                                {{ image(aSurveyInfo.options.brandlogofile, "", {"class": "logo img-responsive"}) }}
                                </span>
                            {% endif %}
                            {% if(aSurveyInfo.options.titlelocation == 'hidden') %}<div class="sr-only">{% endif %}
                                {{ pagetitle ?: processString(aSurveyInfo.surveyls_title,1) }}
                            {% if(aSurveyInfo.options.titlelocation == 'hidden') %}</div>{% endif %}
                        </div>
                    {% else %}
                        {% if( brandlogo == "on") %}
                        <div class="h1 {{ aSurveyInfo.class.navbarbrand }} {% if( brandlogo == "on") %}with-logo{% endif %}"  {{ aSurveyInfo.attr.navbarbrand }} aria-hidden="true" >
                            <span class="logo-container">
                            {{ image(aSurveyInfo.options.brandlogofile, "", {"class": "logo img-responsive"}) }}
                            </span>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <header class="{{ aSurveyInfo.class.navbar }} {{ (aSurveyInfo.options.fixedheader == 'on') ? 'navbar-fixed-top' : 'navbar-static-top' }} hidden-print" role="banner" {{ aSurveyInfo.attr.navbar }}>
        <div class="{{ containerclass }}" role="navigation">
            {% if brandlogo == "banner" %}
                {{ image(aSurveyInfo.options.brandlogofile, "", {"class": "logo-as-banner banner img-responsive"}) }}
            {% endif %}
            <div class="{{ aSurveyInfo.class.navbarheader }}" {{ aSurveyInfo.attr.navbarheader }} >
                {{ include('./subviews/navigation/shortcuts_links.twig') }}
                {% if(hasMenu) %}
                    <button type="button" class="{{ aSurveyInfo.class.navbartoggle }}" {{ aSurveyInfo.attr.navbartoggle }} aria-hidden="true" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                {% endif %}
                {% if(aSurveyInfo.options.titlelocation != 'content') %}
                    <h1 class="{{ aSurveyInfo.class.navbarbrand }} {% if( brandlogo == "on") %}with-logo{% endif %}"  {{ aSurveyInfo.attr.navbarbrand }}  >
                        {% if( brandlogo == "on") %}
                            <span class="logo-container">
                            {{ image(aSurveyInfo.options.brandlogofile, "", {"class": "logo img-responsive"}) }}
                            </span>
                        {% endif %}
                        {% if(aSurveyInfo.options.titlelocation == 'hidden') %}<div class="sr-only">{% endif %}
                            {{ pagetitle ?: processString(aSurveyInfo.surveyls_title,1) }}
                        {% if(aSurveyInfo.options.titlelocation == 'hidden') %}</div>{% endif %}
                    </h1>
                {% else %}
                    {% if( brandlogo == "on") %}
                        <div class="h1 {{ aSurveyInfo.class.navbarbrand }} {% if( brandlogo == "on") %}with-logo{% endif %}"  {{ aSurveyInfo.attr.navbarbrand }} aria-hidden="true" >
                            <span class="logo-container">
                            {{ image(aSurveyInfo.options.brandlogofile, "", {"class": "logo img-responsive"}) }}
                            </span>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            {% if(hasMenu) %}
                <div id="{{ aSurveyInfo.id.navbar }}" class="{{ aSurveyInfo.class.navbarcollapse }}" {{ aSurveyInfo.attr.navbarcollapse }} >
                    <ul class="{{ aSurveyInfo.class.navbarlink }} navbar-right" {{ aSurveyInfo.attr.navbarlink }}>
                        {% if(aSurveyInfo.options.savelink != 'off') %}
                            {{ include('./subviews/navigation/save_links.twig') }}
                        {% endif %}
                        {% if(aSurveyInfo.options.clearalllink != 'off') %}
                            {{ include('./subviews/navigation/clearall_links.twig') }}
                        {% endif %}
                        {% if(aSurveyInfo.options.indexlink != 'off') %}
                            {{ include('./subviews/navigation/question_index_menu.twig') }}
                        {% endif %}
                        {% if(aSurveyInfo.options.languagelink != 'off') %}
                            {{ include('./subviews/navigation/language_changer_top_menu.twig') }}
                        {% endif %}
                        {% if(aSurveyInfo.options.previouslink == 'on') %}
                            {{ include('./subviews/navigation/previous_link.twig') }}
                        {% endif %}
                        {% if(aSurveyInfo.options.nextsubmitlink == 'on') %}
                            {{ include('./subviews/navigation/nextsubmit_link.twig') }}
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </header>
{% endif %}
