{#
    Bootstrap Navigation Bar
    This file renders a typical bootstrap navigation bar.
    See: https://getbootstrap.com/components/#navbar
    @version 10.11.1
#}
{% set havepreviouslink = (aSurveyInfo.options.previouslink == 'on' and aSurveyInfo.aNavigator.aMovePrev.show) %}
{% set havenextsubmitlink = (aSurveyInfo.options.nextsubmitlink == 'on' and aSurveyInfo.aNavigator.aMoveNext.show) %}
{% set hasMenu = (aSurveyInfo.options.savelink != 'off' or aSurveyInfo.options.clearalllink != 'off' or aSurveyInfo.options.indexlink != 'off' or aSurveyInfo.options.languagelink != 'off' or havenextsubmitlink or havenextsubmitlink) %}

{% set containerclass = 'container-fluid' %}
{% if (aSurveyInfo.options.container == "on" and aSurveyInfo.options.headercontainer == "on") %}
    {% set containerclass = 'container' %}
{% endif %}

{% set brandlogo = "on" %}
{% if (aSurveyInfo.options.brandlogo == "off" or not imageSrc(aSurveyInfo.options.brandlogofile)) %}
    {% set brandlogo = "off" %}
{% else %}
    {% set brandlogofile = aSurveyInfo.options.brandlogofile %}
    {% set brandlogalt = "" %}
    {% if aSurveyInfo.options.brandlogobylang == "on" %}
        {% if(processString("strpos('"~brandlogofile~"','.')")) %}
            {% set brandlogoExt = processString("{substr('"~brandlogofile~"',strpos('"~brandlogofile~"','.'))}") %}
            {% set brandlogoName = processString("{substr('"~brandlogofile~"',0,strpos('"~brandlogofile~"','.'))}") %}
            {% set brandlogolang = imageSrc(brandlogoName ~ "-" ~ aSurveyInfo.languagecode ~ brandlogoExt, false) %}
            {% if brandlogolang %}
                {% set brandlogofile = brandlogoName ~ "-" ~ aSurveyInfo.languagecode ~ brandlogoExt %}
            {% endif %}
        {% endif %}
    {% endif %}
    {% if(aSurveyInfo.options.brandlogalt and aSurveyInfo.options.brandlogalt != 'false') %}
        {% set brandlogalt = aSurveyInfo.options.brandlogalt|escape %}
    {% endif %}
    {%if aSurveyInfo.options.brandlogoasbanner == "on" %}
        {% set brandlogo = "banner" %}
    {% endif %}
{% endif %}
{% set navbarclass = 'navbar navbar-default' %}
{% if aSurveyInfo.options.titlelocation == 'header' %}{% set navbarclass = navbarclass ~ ' navbar-with-title' %}{% endif %}
{% if aSurveyInfo.options.titlelocation == 'content' %}{% set navbarclass = navbarclass ~ ' navbar-no-title' %}{% endif %}
{% if aSurveyInfo.options.titlelocation == 'hidden' %}{% set navbarclass = navbarclass ~ ' navbar-with-hidden-title' %}{% endif %}
{% if brandlogo == 'on' %}{% set navbarclass = navbarclass ~ ' navbar-with-logo' %}{% endif %}
{% if brandlogo == 'banner' %}{% set navbarclass = navbarclass ~ ' navbar-with-banner' %}{% endif %}
<!-- Bootstrap Navigation Bar -->
<header class="navbar navbar-expand-lg bg-body-primary {{ (aSurveyInfo.options.fixedheader == 'on') ? 'navbar-fixed-top' : 'navbar-static-top' }} hidden-print">
    <div class="{{ containerclass }}" role="navigation">
        {% if brandlogo == "banner" %}
            {{ image(brandlogofile, brandlogalt, {"class": "logo-as-banner banner img-responsive"}) }}
        {% endif %}
        <div class="skel-navbarheader">
            {{ include('./subviews/navigation/shortcuts_links.twig') }}
                {% if(aSurveyInfo.options.titlelocation == 'header') %}
                    <h1 class="h1 navbar-brand {% if( brandlogo == 'on') %}with-logo{% endif %}"    >
                        {% if( brandlogo == "on") %}
                            <span class="logo-container"  aria-hidden="true">
                            {{ image(brandlogofile, brandlogalt, {"class": "logo img-responsive"}) }}
                            </span>
                        {% endif %}
                        {{ pagetitle ?: processString(aSurveyInfo.surveyls_title) }}
                    </h1>
                {% endif %}
                {% if(aSurveyInfo.options.titlelocation == 'hidden') %}
                    {% if( brandlogo == "on") %}
                        <h1 class="h1 {{ aSurveyInfo.class.navbarbrand }} {% if( brandlogo == "on") %}with-logo{% endif %}" aria-hidden="true" >
                            <span class="logo-container">
                            {{ image(brandlogofile, brandlogalt, {"class": "logo img-responsive"}) }}
                            </span>
                            {{ pagetitle ?: processString(aSurveyInfo.surveyls_title) }}
                        </h1>
                    {% else %}
                     <h1 class="h1 sr-only">
                        {{ pagetitle ?: processString(aSurveyInfo.surveyls_title) }}   
                     </h1>
                    {% endif %}
                {% endif %}
                {% if(aSurveyInfo.options.titlelocation == 'content') %}
                    {% if( brandlogo == "on") %}
                    <div class="{{ aSurveyInfo.class.navbarbrand }} {% if( brandlogo == "on") %}with-logo{% endif %}" aria-hidden="true" >
                        <span class="logo-container">
                            {{ image(brandlogofile, brandlogalt, {"class": "logo img-responsive"}) }}
                        </span>
                    </div>
                    {% endif %}
                {% endif %}
        </div>
        {% if(hasMenu) %}
            <div id="{{ aSurveyInfo.id.navbar }}" class="{{ aSurveyInfo.class.navbarcollapse }}" {{ aSurveyInfo.attr.navbarcollapse }} >
                <ul class="{{ aSurveyInfo.class.navbarlink }} navbar-right" {{ aSurveyInfo.attr.navbarlink }}>
                    {% if(aSurveyInfo.options.savelink != 'off') %}
                        {{ include('./subviews/navigation/save_links.twig') }}
                    {% endif %}
                    {% if(aSurveyInfo.options.clearalllink != 'off') %}
                        {{ include('./subviews/navigation/clearall_links.twig') }}
                    {% endif %}
                    {% if(aSurveyInfo.options.indexlink != 'off') %}
                        {{ include('./subviews/navigation/question_index_menu.twig') }}
                    {% endif %}
                    {% if(aSurveyInfo.options.languagelink != 'off') %}
                        {{ include('./subviews/navigation/language_changer_top_menu.twig') }}
                    {% endif %}
                    {% if(aSurveyInfo.options.previouslink == 'on') %}
                        {{ include('./subviews/navigation/previous_link.twig') }}
                    {% endif %}
                    {% if(aSurveyInfo.options.nextsubmitlink == 'on') %}
                        {{ include('./subviews/navigation/nextsubmit_link.twig') }}
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</header>
