{#
    (¯`·._.·(¯`·._.· Warnings  ·._.·´¯)·._.·´¯)

    Show various warnings on top of the form

    Error Html warnings can be:
        - One or more mandatory questions have not been answered. You cannot proceed until these have been completed.
        - One or more questions have not been answered in a valid manner. You cannot proceed until these answers are valid.
        - One or more uploaded files are not in proper format/size. You cannot proceed until these files are valid.

    The easiest way to change the text in the warnings is to create a new translation.

    These warnings are complementary to the popup ones. If you're using popups (set in config file), and then don't want to show these alerts, you can uncomment the hiddenClass checker
#}

{# Preview mode warning #}
{% if aSurveyInfo.active != 'Y' %}
    <!-- Preview mode warning -->
    <div class="{{ aSurveyInfo.class.activealert }} alert alert-warning alert-dismissible fade in alert-dismissible" {{ aSurveyInfo.attr.activealert }} >
        <button {{ aSurveyInfo.attr.activealertbutton }} class="{{ aSurveyInfo.class.activealertbutton }} close" ><span aria-hidden="true">&times;</span><span class="sr-only">{{ gT("Close") }}</span></button>
        {{ gT("This survey is currently not active. You will not be able to save your responses.") }}
    </div>
{% endif %}

{# Survey data policy not accepted warning #}
{% if aSurveyInfo.datasecuritynotaccepted == true %}
    <!-- Preview mode warning -->
    <div class="{{ aSurveyInfo.class.activealert }} alert alert-danger alert-dismissible fade in alert-dismissible" {{ aSurveyInfo.attr.activealert }} >
        <button {{ aSurveyInfo.attr.activealertbutton }} class="{{ aSurveyInfo.class.activealertbutton }} close" ><span aria-hidden="true">&times;</span><span class="sr-only">{{ gT("Close") }}</span></button>
        {{ aSurveyInfo.datasecurity_error }}
    </div>
{% endif %}


{% if(count(aSurveyInfo.errorHtml.messages) == 1) %}
    <p class='{{ aSurveyInfo.errorHtml.hiddenClass }} fade in alert-dismissible alert alert-danger {{ aSurveyInfo.class.errorHtml }} ' role='alert'>
        <button  {{ aSurveyInfo.attr.errorHtmlbutton }} class="{{ aSurveyInfo.class.errorHtmlbutton }} close ls-no-js-hidden" ><span aria-hidden="true">×</span><span class="sr-only">{{ gT("Close") }}</span></button>
        {% for aMessage in aSurveyInfo.errorHtml.messages  %}
        <!-- Error Html warnings -->
            {{ aMessage }}
        {% endfor %}
    </p>
{% endif %}
{% if(count(aSurveyInfo.errorHtml.messages) > 1) %}
    <div class='{{ aSurveyInfo.errorHtml.hiddenClass }} fade in alert-dismissible alert alert-danger {{ aSurveyInfo.class.errorHtml }} ' role='alert'>
        <button {{ aSurveyInfo.attr.errorHtmlbutton }} class="{{ aSurveyInfo.class.errorHtmlbutton }} close ls-no-js-hidden" ><span aria-hidden="true">×</span><span class="sr-only">{{ gT("Close") }}</span></button>
        <ul>
        {% for aMessage in aSurveyInfo.errorHtml.messages  %}
        <!-- Error Html warnings -->
            <li>{{ aMessage }}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}
