{#
    SkelVanilla survey template options
    @version 10.12.0
#}
<div class="container-fluid" style="position:relative">
  {# Begin template option form #}
    <div class='form action_update_options_string_form' action=''>
      {# If this is a surveyspecific settings page, offer the possibility to do a full inheritance of the parent template #}
      {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
        <h3 class="h3">{{ gT("Inherit") }}</h3>
        <div class='row' id="general_inherit_active">
          <div class='form-group row'>
          <label for='simple_edit_options_general_inherit' class='control-label'>{{gT("Inherit everything" )}}</label>
          <div class='col-sm-12'>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default">
                <input id="general_inherit_on" name='general_inherit' type='radio' value='on' class='selector_option_general_inherit ' data-id='simple_edit_options_general_inherit'/>
                {{ gT("Yes") }}
              </label>
              <label class="btn btn-default">
                <input id="general_inherit_off" name='general_inherit' type='radio' value='off' class='selector_option_general_inherit ' data-id='simple_edit_options_general_inherit'/>
                {{ gT("No") }}
              </label>
            </div>
          </div>
          </div>
        </div>
        <div class="row">
          <hr/>
        </div>
      {% endif %}
      {# If this is a surveyspecific settings page, offer the possibility to do a full inheritance of the parent template #}
      {# CSS variation : fixed for parent, can be updated in child #}
      {% set templateOptions = json_decode(templateConfiguration.options) %}
      {% set sAvailableVariations = templateOptions.availablevariations %}
      {% if(sAvailableVariations == 'inherit' or sAvailableVariations is empty) %}
        {# still broken in 4 #}
        {% set sAvailableVariations = oParentOptions.availablevariations %}
      {% endif %}
      <div class="action_hide_on_inherit">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#logocolor" aria-controls="logocolor" role="tab" data-toggle="tab">{{ gT("Logo and visual") }}</a></li>
          <li role="presentation"><a href="#functionnality" aria-controls="functionnality" role="tab" data-toggle="tab">{{ gT("Functionality") }}</a></li>
          <li role="presentation"><a href="#topbaraction" aria-controls="topbaraction" role="tab" data-toggle="tab">{{ gT("Top nav actions") }}</a></li>
          <li role="presentation"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">{{ gT("Content") }}</a></li>
          <li role="presentation"><a href="#visual" aria-controls="visual" role="tab" data-toggle="tab">{{ gT("Advanced visual") }}</a></li>
          <li role="presentation"><a href="#surveylistlogos" aria-controls="surveylistlogos" role="tab" data-toggle="tab">{{ gT("Survey list logos") }}</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="logocolor">
            {% include 'options/options_logocolors.twig' %}
          </div>
          <div role="tabpanel" class="tab-pane" id="functionnality">
            {% include 'options/options_functionnality.twig' %}
          </div>
          <div role="tabpanel" class="tab-pane" id="topbaraction">
            {% include 'options/options_topbaraction.twig' %}
          </div>
          <div role="tabpanel" class="tab-pane" id="content">
            {% include 'options/options_content.twig' %}
          </div>
          <div role="tabpanel" class="tab-pane" id="visual">
            {% include 'options/options_visual.twig' %}
          </div>
          <div role="tabpanel" class="tab-pane" id="surveylistlogos">
            {% include 'options/options_surveylistlogos.twig' %}
          </div>
        </div>
      </div>
    </div>
</div>

<!-- lightbox modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="lightbox-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title selector__title"> </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <img class="selector__image img-responsive" src="" alt="title"  />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>