{#
    LimeSurvey
    Copyright (C) 2007-2017 The LimeSurvey Project Team / Louis Gac
    All rights reserved.
    License: GNU/GPL License v2 or later, see LICENSE.php
    LimeSurvey is free software. This version may have been modified pursuant
    to the GNU General Public License, and as distributed it includes or
    is derivative of works licensed under the GNU General Public License or
    other free or open source software licenses.
    See COPYRIGHT.php for copyright notices and details.

    (¯`·._.·(¯`·._.· Default survey template options ._.·´¯)·._.·´¯)

    This is the form for the option parameters of the basic default template.

#}
<div class="container-fluid" style="position:relative">
    {# Small loading animation to give the scripts time to parse and render the correct values #}
    <div class="" style="display:none;height:100%;width:100%;position:absolute;left:0;top:0;background:rgb(255,255,255);background:rgba(235,235,235,0.8);z-index:2000;">
        <div style="position:absolute; left:49%;top:35%;" class="text-center">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
    </div>
    <div class="row">
        {# Begin template option form #}
        <form class='form action_update_options_string_form' action=''>

            {# If this is a surveyspecific settings page, offer the possibility to do a full inheritance of the parent template #}
            {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                <div class='row' id="general_inherit_active">
                    <div class='form-group row'>
                        <label for='simple_edit_options_general_inherit' class='control-label col-xs-4'>{{gT("Inherit everything" )}}</label>
                        <div class='col-xs-8'>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input id="general_inherit_on" name='general_inherit' type='radio' value='on' class='selector_option_general_inherit ' data-id='simple_edit_options_general_inherit'/>
                                    {{ gT("Yes") }}
                                </label>
                                <label class="btn btn-default">
                                    <input id="general_inherit_off" name='general_inherit' type='radio' value='off' class='selector_option_general_inherit ' data-id='simple_edit_options_general_inherit'/>
                                    {{ gT("No") }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row action_hide_on_inherit">
                    <hr/>
                </div>
            {% endif %}

            {# First settings row #}
            <div class='row action_hide_on_inherit'>
                {# Container #}
                <div class='col-sm-12 col-md-6 col-lg-3'>
                    <div class='form-group row'>
                        <label for='simple_edit_options_container' class='control-label col-xs-4'> {{ gT("Survey container") }} </label>
                        <div class='col-xs-8'>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type='radio' name='container' value='on' class='selector_option_radio_field simple_edit_options_container ' data-id='container'/>
                                    {{ gT("Yes") }}
                                </label>
                                <label class="btn btn-default">
                                    <input type='radio' name='container' value='off' class='selector_option_radio_field simple_edit_options_container ' data-id='container'/>
                                    {{ gT("No") }}
                                </label>
                                {# If this is a root template setting, don't show the inherit button #}
                                {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                    <label class="btn btn-default">
                                        <input type='radio' name='container' value='inherit' class='selector_option_radio_field simple_edit_options_container ' data-id='container'/>
                                        {{ gT("Inherit") }}
                                    </label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {# hideprivacyinfo #}
                <div class='col-sm-12 col-md-6 col-lg-3'>
                    <div class='form-group row'>
                        <label for='simple_edit_options_hideprivacyinfo' class='control-label col-xs-4'>{{ gT("Hide privacy info") }}</label>
                        <div class='col-xs-8'>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type='radio' name='hideprivacyinfo' value='on' class='selector_option_radio_field simple_edit_options_hideprivacyinfo ' data-id='hideprivacyinfo'/>
                                    {{ gT("Yes") }}
                                </label>
                                <label class="btn btn-default">
                                    <input type='radio' name='hideprivacyinfo' value='off' class='selector_option_radio_field simple_edit_options_hideprivacyinfo ' data-id='hideprivacyinfo'/>
                                    {{ gT("No") }}
                                </label>
                                {# If this is a root template setting, don't show the inherit button #}
                                {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                    <label class="btn btn-default">
                                        <input type='radio' name='hideprivacyinfo' value='inherit' class='selector_option_radio_field simple_edit_options_hideprivacyinfo ' data-id='hideprivacyinfo'/>
                                        {{ gT("Inherit") }}
                                    </label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {# Show popups #}
                <div class='col-sm-12 col-md-6 col-lg-3'>
                    <div class='form-group row'>
                        <label for='simple_edit_options_showpopups' class='control-label col-xs-4' {{ showpopups_disabled_qtip }}>{{ gT("Show popups") }}</label>
                        <div class='col-xs-8'>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default control-label" {{ showpopups_disabled }}>
                                        <input type='radio' name='showpopups' value='1' {{ showpopups_disabled }} class='selector_option_radio_field simple_edit_options_showpopups ' data-id='showpopups'/>
                                        {{ gT("Popup") }}
                                    </label>
                                    <label class="btn btn-default" {{ showpopups_disabled }}>
                                        <input type='radio' name='showpopups' value='0' {{ showpopups_disabled }} class='selector_option_radio_field simple_edit_options_showpopups ' data-id='showpopups'/>
                                        {{ gT("On page") }}
                                    </label>
                                    <label class="btn btn-default" {{ showpopups_disabled }}>
                                        <input type='radio' name='showpopups' value='-1' {{ showpopups_disabled }} class='selector_option_radio_field simple_edit_options_showpopups ' data-id='showpopups'/>
                                        {{ gT("Off") }}
                                    </label>
                                    {# If this is a root template setting, don't show the inherit button #}
                                    {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                        <label class="btn btn-default" {{ showpopups_disabled }}>
                                            <input type='radio' name='showpopups' value='inherit' class='selector_option_radio_field simple_edit_options_showpopups ' data-id='showpopups'/>
                                            {{ gT("Inherit") }}
                                        </label>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                
                {# Tag for question #}
                <div class='col-sm-12 col-md-6 col-lg-3'>
                    <div class='form-group row'>
                        <label for='simple_edit_options_questionhtag' class='control-label col-xs-4'> {{ gT("h2 or h3 title for question") }} </label>
                        <div class='col-xs-8'>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type='radio' name='questionhtag' value='on' class='selector_option_radio_field simple_edit_options_questionhtag ' data-id='questionhtag'/>
                                    {{ gT("Yes") }}
                                </label>
                                <label class="btn btn-default">
                                    <input type='radio' name='questionhtag' value='off' class='selector_option_radio_field simple_edit_options_questionhtag ' data-id='questionhtag'/>
                                    {{ gT("No") }}
                                </label>
                                {# If this is a root template setting, don't show the inherit button #}
                                {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                    <label class="btn btn-default">
                                        <input type='radio' name='questionhtag' value='inherit' class='selector_option_radio_field simple_edit_options_questionhtag ' data-id='questionhtag'/>
                                        {{ gT("Inherit") }}
                                    </label>
                                {% endif %}
                            </div>
                            <p class="help-block">{{ gT("Be sure to use only one line text without complex HTML.") }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row action_hide_on_inherit'>
                <hr/>
            </div>

            {# Decoration for question wrapper and question #}
            <div class='row action_hide_on_inherit'>
                {# Question size #}
                <div class='col-sm-12 col-md-6 col-lg-3 container-fluid'>
                    <div class='form-group row'>
                        <label for='simple_edit_options_questionsize' class='control-label col-xs-4'> {{ gT("Question size") }} </label>
                        <div class='col-xs-8'>
                            <select class='form-control selector_option_value_field' id='simple_edit_options_questionsize' name='questionsize'>
                                {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                    <option value="inherit"> {{ gT('Inherit') }}</option>
                                {% endif %}
                                <option value="body-copy">{{ gT('Body copy') }}</option>
                                <option value="h5">h5</option>
                                <option value="h4">h4</option>
                                <option value="h3">h3</option>
                                <option value="h2">h2</option>
                                <option value="lead">lead</option>
                            </select>
                        </div>
                        <p class="help-block col-xs-12">{{ gT("Size are from your bootsrap theme.") }}</p>
                    </div>
                </div>
                {# Question color #}
                <div class='col-sm-12 col-md-6 col-lg-3 container-fluid'>
                    <div class='form-group row'>
                        <label for='simple_edit_options_questioncolor' class='control-label col-xs-4'> {{ gT("Question color") }} </label>
                        <div class='col-xs-8'>
                            <select class='form-control selector_option_value_field' id='simple_edit_options_questioncolor' name='questioncolor'>
                                {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                    <option value="inherit"> {{ gT('Inherit') }}</option>
                                {% endif %}
                                <option value="none">{{ gT("Body color (no color)") }}</option>
                                <option value="primary">{{ gT("Primary color") }}</option>
                                <option value="info">{{ gT("Info color") }}</option>
                                <option value="success">{{ gT("Success color") }}</option>
                                <option value="warning">{{ gT("Warning color") }}</option>
                            </select>
                        </div>
                        <p class="help-block col-xs-12">{{ gT("Color are from your bootsrap theme. With panel : it's the panel color.") }}</p>
                    </div>
                </div>
                {# Question wrapper #}
                <div class='col-sm-12 col-md-6 col-lg-3 container-fluid'>
                    <div class='form-group row'>
                        <label for='simple_edit_options_questionwrap' class='control-label col-xs-4'> {{ gT("Question wrapper") }} </label>
                        <div class='col-xs-8'>
                            <select class='form-control selector_option_value_field' id='simple_edit_options_questionwrap' name='questionwrap'>
                                {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                    <option value="inherit"> {{ gT('Inherit') }}</option>
                                {% endif %}
                                <option value="none">{{ gT("No wrapper") }}</option>
                                <option value="well">{{ gT("Wells wrapper") }}</option>
                                <option value="panel">{{ gT("Panel wrapper") }}</option>
                            </select>
                        </div>
                        <p class="help-block col-xs-12">{{ gT("Simple usage of well or panel from bootrap, for panel : color is for background.") }}</p>
                    </div>
                </div>
            </div>
            <div class='row action_hide_on_inherit'>
                <hr/>
            </div>
            <div class='row action_hide_on_inherit'>
                {# Fixed header #}
                <div class='col-sm-12 col-md-6 col-lg-3'>
                    <div class='form-group row'>
                        <label for='simple_edit_options_fixedheader' class='control-label col-xs-4'> {{ gT("Fixed header") }} </label>
                        <div class='col-xs-8'>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type='radio' name='fixedheader' value='on' class='selector_option_radio_field simple_edit_options_fixedheader ' data-id='fixedheader'/>
                                    {{ gT("Yes") }}
                                </label>
                                <label class="btn btn-default">
                                    <input type='radio' name='fixedheader' value='off' class='selector_option_radio_field simple_edit_options_fixedheader ' data-id='fixedheader'/>
                                    {{ gT("No") }}
                                </label>
                                {# If this is a root template setting, don't show the inherit button #}
                                {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                    <label class="btn btn-default">
                                        <input type='radio' name='fixedheader' value='inherit' class='selector_option_radio_field simple_edit_options_fixedheader ' data-id='fixedheader'/>
                                        {{ gT("Inherit") }}
                                    </label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {# Help color #}
                <div class='col-sm-12 col-md-6 col-lg-3'>
                    <div class='form-group row'>
                        <label for='simple_edit_options_helpcolor' class='control-label col-xs-4'> {{ gT("Help color") }} </label>
                        <div class='col-xs-8'>
                            <select class='form-control selector_option_value_field' id='simple_edit_options_helpcolor' name='helpcolor'>
                                {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                    <option value="inherit"> {{ gT('Inherit') }}</option>
                                {% endif %}
                                <option value="text-muted">{{ gT("Text muted") }}</option>
                                <option value="text-primary">{{ gT("Text primary") }}</option>
                                <option value="text-info">{{ gT("Text info") }}</option>
                                <option value="text-success">{{ gT("Text success") }}</option>
                                <option value="text-warning">{{ gT("Text warning") }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                {# Help color #}
                <div class='col-sm-12 col-md-6 col-lg-3'>
                    <div class='form-group row'>
                        <label for='simple_edit_options_validitycolor' class='control-label col-xs-4'> {{ gT("Dynamic help color (Validity)") }} </label>
                        <div class='col-xs-8'>
                            <select class='form-control selector_option_value_field' id='simple_edit_options_validitycolor' name='validitycolor'>
                                {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                    <option value="inherit"> {{ gT('Inherit') }}</option>
                                {% endif %}
                                <option value="text-muted">{{ gT("Text muted") }}</option>
                                <option value="text-primary">{{ gT("Text primary") }}</option>
                                <option value="text-info">{{ gT("Text info") }}</option>
                                <option value="text-success">{{ gT("Text success") }}</option>
                                <option value="text-warning">{{ gT("Text warning") }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row action_hide_on_inherit'>
                <hr/>
            </div>

            {# CSS variation #}
            <div class='row  action_hide_on_inherit'>
                <div class='col-sm-12'>
                    <div class='panel panel-default'>
                        <div class='panel-heading'>{{ sprintf( gT("%s variations"), templateConfiguration.template_name) }} </div>
                        <div class='panel-body'>
                            <div class='form-group row'>
                                <label for='simple_edit_options_variation' class='control-label'>{{ gT("Select variation:") }}
                                </label>
                                <div class='col-sm-12'>
                                    <select class='form-control selector_option_value_field' id='simple_edit_options_variation' name='variation'>
                                        <option value="default">{{ gT('None') }} - {{ gT('lsbootrsap.css updatable via theme editor') }}</option>
                                        {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                            <option value="inherit"> {{ gT('Inherit') }}</option>
                                        {% endif %}
                                        <optgroup label="Contrast">
                                            <option value="css/variations/contrast-base.min.css">Contrast - Base</option>
                                            <option value="css/variations/contrast-button.min.css">Contrast - Button for radio and checkbox</option>
                                            <option value="css/variations/contrast-awesome.min.css">Contrast - Awesome checkbox and radio</option>
                                            <option value="css/variations/contrast-button_awesome.min.css">Contrast - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Bootstrap">
                                            <option value="css/variations/bootstrap-base.min.css">Bootstrap - Base</option>
                                            <option value="css/variations/bootstrap-button.min.css">Bootstrap - Button for radio and checkbox</option>
                                            <option value="css/variations/bootstrap-awesome.min.css">Bootstrap - Awesome checkbox and radio</option>
                                            <option value="css/variations/bootstrap-button_awesome.min.css">Bootstrap - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Cerulean">
                                            <option value="css/variations/cerulean-base.min.css">Cerulean - Base</option>
                                            <option value="css/variations/cerulean-button.min.css">Cerulean - Button for radio and checkbox</option>
                                            <option value="css/variations/cerulean-awesome.min.css">Cerulean - Awesome checkbox and radio</option>
                                            <option value="css/variations/cerulean-button_awesome.min.css">Cerulean - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Cosmo">
                                            <option value="css/variations/cosmo-base.min.css">Cosmo - Base</option>
                                            <option value="css/variations/cosmo-button.min.css">Cosmo - Button for radio and checkbox</option>
                                            <option value="css/variations/cosmo-awesome.min.css">Cosmo - Awesome checkbox and radio</option>
                                            <option value="css/variations/cosmo-button_awesome.min.css">Cosmo - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Cyborg">
                                            <option value="css/variations/cyborg-base.min.css">Cyborg - Base</option>
                                            <option value="css/variations/cyborg-button.min.css">Cyborg - Button for radio and checkbox</option>
                                            <option value="css/variations/cyborg-awesome.min.css">Cyborg - Awesome checkbox and radio</option>
                                            <option value="css/variations/cyborg-button_awesome.min.css">Cyborg - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Darkly">
                                            <option value="css/variations/darkly-base.min.css">Darkly - Base</option>
                                            <option value="css/variations/darkly-button.min.css">Darkly - Button for radio and checkbox</option>
                                            <option value="css/variations/darkly-awesome.min.css">Darkly - Awesome checkbox and radio</option>
                                            <option value="css/variations/darkly-button_awesome.min.css">Darkly - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Flatly">
                                            <option value="css/variations/flatly-base.min.css">Flatly- Base</option>
                                            <option value="css/variations/flatly-button.min.css">Flatly - Button for radio and checkbox</option>
                                            <option value="css/variations/flatly-awesome.min.css">Flatly - Awesome checkbox and radio</option>
                                            <option value="css/variations/flatly-button_awesome.min.css">Flatly - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Journal">
                                            <option value="css/variations/journal-base.min.css">Journal - Base</option>
                                            <option value="css/variations/journal-button.min.css">Journal - Button for radio and checkbox</option>
                                            <option value="css/variations/journal-awesome.min.css">Journal - Awesome checkbox and radio</option>
                                            <option value="css/variations/journal-button_awesome.min.css">Journal - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Lumen">
                                            <option value="css/variations/lumen-base.min.css">Lumen - Base</option>
                                            <option value="css/variations/lumen-button.min.css">Lumen - Button for radio and checkbox</option>
                                            <option value="css/variations/lumen-awesome.min.css">Lumen - Awesome checkbox and radio</option>
                                            <option value="css/variations/lumen-button_awesome.min.css">Lumen - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Paper">
                                            <option value="css/variations/paper-base.min.css">Paper - Base</option>
                                            <option value="css/variations/paper-button.min.css">Paper - Button for radio and checkbox</option>
                                            <option value="css/variations/paper-awesome.min.css">Paper - Awesome checkbox and radio</option>
                                            <option value="css/variations/paper-button_awesome.min.css">Paper - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Readable">
                                            <option value="css/variations/readable-base.min.css">Readable - Base</option>
                                            <option value="css/variations/readable-button.min.css">Readable - Button for radio and checkbox</option>
                                            <option value="css/variations/readable-awesome.min.css">Readable - Awesome checkbox and radio</option>
                                            <option value="css/variations/readable-button_awesome.min.css">Readable - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Sandstone">
                                            <option value="css/variations/sandstone-base.min.css">Sandstone - Base</option>
                                            <option value="css/variations/sandstone-button.min.css">Sandstone - Button for radio and checkbox</option>
                                            <option value="css/variations/sandstone-awesome.min.css">Sandstone - Awesome checkbox and radio</option>
                                            <option value="css/variations/sandstone-button_awesome.min.css">Sandstone - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Simplex">
                                            <option value="css/variations/simplex-base.min.css">Simplex - Base</option>
                                            <option value="css/variations/simplex-button.min.css">Simplex - Button for radio and checkbox</option>
                                            <option value="css/variations/simplex-awesome.min.css">Simplex - Awesome checkbox and radio</option>
                                            <option value="css/variations/simplex-button_awesome.min.css">Simplex - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Slate">
                                            <option value="css/variations/slate-base.min.css">Slate - Base</option>
                                            <option value="css/variations/slate-button.min.css">Slate - Button for radio and checkbox</option>
                                            <option value="css/variations/slate-awesome.min.css">Slate - Awesome checkbox and radio</option>
                                            <option value="css/variations/slate-button_awesome.min.css">Slate - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Spacelab">
                                            <option value="css/variations/spacelab-base.min.css">Spacelab - Base</option>
                                            <option value="css/variations/spacelab-button.min.css">Spacelab - Button for radio and checkbox</option>
                                            <option value="css/variations/spacelab-awesome.min.css">Spacelab - Awesome checkbox and radio</option>
                                            <option value="css/variations/spacelab-button_awesome.min.css">Spacelab - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Superhero">
                                            <option value="css/variations/superhero-base.min.css">Superhero - Base</option>
                                            <option value="css/variations/superhero-button.min.css">Superhero - Button for radio and checkbox</option>
                                            <option value="css/variations/superhero-awesome.min.css">Superhero - Awesome checkbox and radio</option>
                                            <option value="css/variations/superhero-button_awesome.min.css">Superhero - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="United">
                                            <option value="css/variations/united-base.min.css">United - Base</option>
                                            <option value="css/variations/united-button.min.css">United - Button for radio and checkbox</option>
                                            <option value="css/variations/united-awesome.min.css">United - Awesome checkbox and radio</option>
                                            <option value="css/variations/united-button_awesome.min.css">United - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                        <optgroup label="Yeti">
                                            <option value="css/variations/yeti-base.min.css">Yeti - Base</option>
                                            <option value="css/variations/yeti-button.min.css">Yeti - Button for radio and checkbox</option>
                                            <option value="css/variations/yeti-awesome.min.css">Yeti - Awesome checkbox and radio</option>
                                            <option value="css/variations/yeti-button_awesome.min.css">Yeti - Button &amp; awesome checkbox and radio</option>
                                        </optgroup>
                                    </select>
                                    <p class="help-block">Except contrast, all this variations come from <a href="https://bootswatch.com/3/">bootswatch</a>, Copyright (c) 2013 Thomas Park.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row ls-space margin top-15 bottom-15 '>
                <hr/>
            </div>

            <!-- Brand Logo -->
            <div class='row action_hide_on_inherit'>
                <div class='col-sm-12 col-md-4'>
                    {# Brandlogo #}
                    <div class='form-group row'>
                        <label for='simple_edit_options_brandlogo' class='control-label'>Brandlogo</label>
                        <div class='col-sm-12'>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type='radio' name='brandlogo' value='on' class='selector_option_radio_field ' data-id='simple_edit_options_brandlogo'/>
                                    {{gT("Yes" )}}
                                </label>
                                <label class="btn btn-default">
                                    <input type='radio' name='brandlogo' value='off' class='selector_option_radio_field ' data-id='simple_edit_options_brandlogo'/>
                                    {{ gT("No") }}
                                </label>
                                {# If this is a root template setting, don't show the inherit button #}
                                {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                    <label class="btn btn-default">
                                        <input type='radio' name='brandlogo' value='inherit' class='selector_option_radio_field ' data-id='simple_edit_options_brandlogo'/>
                                        {{ gT("Inherit") }}
                                    </label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-8 col-md-6'>
                    {#  Brandlogo file selector #}
                    <div class='form-group row'>
                        <label for='simple_edit_options_brandlogofile' class='control-label'>Brandlogo file</label>
                        <div class='col-sm-12'>
                            <select class='form-control selector_option_value_field selector_radio_childfield selector_image_selector' data-parent="brandlogo" id='simple_edit_options_brandlogofile' name='brandlogofile'>
                                {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                    <option value="inherit">{{ gT('Inherit') }}</option>
                                {% else %}
                                    <option data-lightbox-src="{{ imageSrc('./files/logo.png') }}" value="./files/logo.png">{{ gT('Default') }}</option>
                                {% endif %}
                                {% set optgroup = '' %}
                                {% for image in templateConfiguration.imageFileList %}
                                {% if image.group != optgroup %}
                                {% if optgroup != '' %}
                                    </optgroup>
                                {% endif %}
                                    <optgroup label="{{image.group}}">
                                {% set optgroup = image.group %}
                                {% endif %}
                                        <option data-lightbox-src="{{image.preview}}" value="{{image.filepath}}">{{image.filename}}</option>
                                {% endfor %}
                                    </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-sm-4 col-md-2'>
                    <br/>
                    <button class="btn btn-default selector__open_lightbox" data-target="#simple_edit_options_brandlogofile"> {{ gT('Preview image')}}</button>
                </div>
            </div>

            <!-- Survey list Logo -->
            <div class='row action_hide_on_inherit'>
                <div class='col-sm-12 col-md-4'>
                    {# Survey list #}
                    <div class='form-group row'>
                        <label for='simple_edit_options_surveylistlogo' class='control-label'>Survey list logo</label>
                        <div class='col-sm-12'>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type='radio' name='surveylistlogo' value='on' class='selector_option_radio_field ' data-id='simple_edit_options_surveylistlogo'/>
                                    {{gT("Yes" )}}
                                </label>
                                <label class="btn btn-default">
                                    <input type='radio' name='surveylistlogo' value='off' class='selector_option_radio_field ' data-id='simple_edit_options_surveylistlogo'/>
                                    {{ gT("No") }}
                                </label>
                                {# If this is a root template setting, don't show the inherit button #}
                                {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                    <label class="btn btn-default">
                                        <input type='radio' name='surveylistlogo' value='inherit' class='selector_option_radio_field ' data-id='simple_edit_options_surveylistlogo'/>
                                        {{ gT("Inherit") }}
                                    </label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-8 col-md-6'>
                    {#  surveylistlogo file selector #}
                    <div class='form-group row'>
                        <label for='simple_edit_options_surveylistlogofile' class='control-label'>surveylistlogo file</label>
                        <div class='col-sm-12'>
                            <select class='form-control selector_option_value_field selector_radio_childfield selector_image_selector' data-parent="surveylistlogo" id='simple_edit_options_surveylistlogofile' name='surveylistlogofile'>
                                {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                    <option value="inherit">{{ gT('Inherit') }}</option>
                                {% else %}
                                    <option data-lightbox-src="{{ imageSrc('./files/survey_list_header.png') }}" value="./files/survey_list_header.png">{{ gT('Default') }}</option>
                                {% endif %}
                                {% set optgroup = '' %}
                                {% for image in templateConfiguration.imageFileList %}
                                {% if image.group != optgroup %}
                                {% if optgroup != '' %}
                                    </optgroup>
                                {% endif %}
                                    <optgroup label="{{image.group}}">
                                {% set optgroup = image.group %}
                                {% endif %}
                                        <option data-lightbox-src="{{image.preview}}" value="{{image.filepath}}">{{image.filename}}</option>
                                {% endfor %}
                                    </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-sm-4 col-md-2'>
                    <br/>
                    <button class="btn btn-default selector__open_lightbox" data-target="#simple_edit_options_surveylistlogofile"> {{ gT('Preview image')}}</button>
                </div>
            </div>

            <!-- Powered Logo -->
            <div class='row action_hide_on_inherit'>
                <div class='col-sm-12 col-md-4'>
                    {# Survey list #}
                    <div class='form-group row'>
                        <label for='simple_edit_options_poweredlogo' class='control-label'>Powered link</label>
                        <div class='col-sm-12'>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type='radio' name='poweredlogo' value='on' class='selector_option_radio_field ' data-id='simple_edit_options_poweredlogo'/>
                                    {{gT("Yes" )}}
                                </label>
                                <label class="btn btn-default">
                                    <input type='radio' name='poweredlogo' value='off' class='selector_option_radio_field ' data-id='simple_edit_options_poweredlogo'/>
                                    {{ gT("No") }}
                                </label>
                                {# If this is a root template setting, don't show the inherit button #}
                                {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                    <label class="btn btn-default">
                                        <input type='radio' name='poweredlogo' value='inherit' class='selector_option_radio_field ' data-id='simple_edit_options_poweredlogo'/>
                                        {{ gT("Inherit") }}
                                    </label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-8 col-md-6'>
                    {# poweredlogo file selector #}
                    <div class='form-group row'>
                        <label for='simple_edit_options_poweredlogofile' class='control-label'>poweredlogo file</label>
                        <div class='col-sm-12'>
                            <select class='form-control selector_option_value_field selector_radio_childfield selector_image_selector' data-parent="poweredlogo" id='simple_edit_options_poweredlogofile' name='poweredlogofile'>
                                {% if templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty %}
                                    <option value="inherit">{{ gT('Inherit') }}</option>
                                {% else %}
                                    <option data-lightbox-src="{{ imageSrc('./files/poweredby.png') }}" value="./files/poweredby.png">{{ gT('Default') }}</option>
                                {% endif %}
                                {% set optgroup = '' %}
                                {% for image in templateConfiguration.imageFileList %}
                                {% if image.group != optgroup %}
                                {% if optgroup != '' %}
                                    </optgroup>
                                {% endif %}
                                    <optgroup label="{{image.group}}">
                                {% set optgroup = image.group %}
                                {% endif %}
                                        <option data-lightbox-src="{{image.preview}}" value="{{image.filepath}}">{{image.filename}}</option>
                                {% endfor %}
                                    </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
               <div class='col-sm-4 col-md-2'>
                    <br/>
                    <button class="btn btn-default selector__open_lightbox" data-target="#simple_edit_options_poweredlogofile"> {{ gT('Preview image')}}</button>
                </div>
            </div>
            <!-- Powered link , leave it for allowing usage in footer for example -->
            <div class='row action_hide_on_inherit'>
                <div class='col-xs-12 col-sm-6'>
                    <div class='form-group row'>
                        <label for='simple_edit_options_poweredlink' class='control-label col-xs-6'>Powered link</label>
                        <div class='col-xs-6'>
                                <input type='text' id="simple_edit_options_poweredlink" class="form-control text_option_string_field" name="poweredlink"
                                {% if (templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty) %}
                                    placeholder="{{ gT('Inherit') }}"
                                {% endif %}
                                >
                        </div>
                    </div>
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <div class='form-group row'>
                        <label for='simple_edit_options_poweredtext' class='control-label col-xs-6'>Powered text</label>
                        <div class='col-xs-6'>
                                <input type='text' id="simple_edit_options_poweredtext" class="form-control text_option_string_field" name="poweredtext"
                                {% if (templateConfiguration.sid is not empty or templateConfiguration.gsid is not empty) %}
                                    placeholder="{{ gT('Inherit') }}"
                                {% endif %}
                                >
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class='row action_hide_on_inherit'>
        <hr/>
    </div>
    <div class='row action_hide_on_inherit'>
        {# Upload an image #}
        <div class="container-fluid ls-space margin bottom-15">
            <div class="row ls-space margin bottom-15">
                <div class="col-sm-6">
                    {{ sprintf( gT("Upload an image (maximum size: %d MB):"), (templateConfiguration.maxFileSize/1024/1024) ) }}
                </div>
                <div class="col-sm-6">
                {{ C.Html.form(createUrl('/admin/themes/sa/upload'), 'post', { 'id' : 'upload_frontend', 'name' : 'upload_frontend', 'enctype' :'multipart/form-data' }) }}
                    <span id="fileselector_frontend">
                        <label class="btn btn-default col-xs-8" for="upload_image_frontend">
                            <input class="hidden" id="upload_image_frontend" name="upload_image_frontend" type="file">
                            <i class="fa fa-upload ls-space margin right-10"></i>
                            {{ gT("Upload") }}
                        </label>
                    </span>
                        <input type='hidden' name='templatename' value='{{ templateConfiguration.template_name }}' />
                        <input type='hidden' name='templateconfig' value='{{ templateConfiguration.id }}' />
                        <input type='hidden' name='action' value='templateuploadimagefile' />
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="progress">
                    <div id="upload_progress_frontend" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                        <span class="sr-only">0%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="lightbox-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title selector__title"> </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <img class="selector__image img-responsive" src="" alt="title"  />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
