<!-- LimeSurvey valid message and help -->

<div class="{{ aSurveyInfo.class.questionvalidcontainer }} {{ aSurveyInfo.options.validitycolor }}" {{ aSurveyInfo.attr.questionvalidcontainer }}>
{% if(aQuestion.valid_message) %}
    {{ str_replace(' role="alert"','',aQuestion.valid_message) | raw | trim }}
{% endif %}
{% if mandatory %}
    {% if(aQuestion.man_message) %}
        <div id="question-mandatory-{{ aQuestion.qid }}">
            {{ aQuestion.man_message }}
        </div>
    {% else %}
        {% if mandatoryposition == 'astip'%}
            <div id="question-mandatory-{{ aQuestion.qid }}">
                {{ include('./survey/questions/question_help/mandatory_tip.twig') }}
            </div>
        {% endif %}
    {% endif %}
{% endif %}
{% if(aQuestion.file_valid_message) %}
    {{ aQuestion.file_valid_message | raw | trim}}
{% endif %}</div>
