<!-- Privacy message -->
<div class="row">
    <div class="col-sm-12">
        <label for="datasecurity_accepted" class="control-label {{ aSurveyInfo.class.privacydataseccheckboxlabel }}">
            <input class="{{ aSurveyInfo.class.privacydataseccheckbox }}" type="checkbox" name="datasecurity_accepted" id="datasecurity_accepted" />
            {{ aSurveyInfo.datasecurity_notice_label }}
        </label>

    </div>
</div>
<div class="collapse fade" id="data-security-modal-{{aSurveyInfo.sid}}">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="modal-title">{{gT('Survey data policy')}}</h4>
        </div>
        <div class="panel-body {{ aSurveyInfo.class.privacydatasecmodalbody }}">
            {{ aSurveyInfo.datasecurity_notice }}
        </div>
        <div class="ls-no-js-hidden panel-footer">
            <button type="button" class="btn btn-primary" onclick="$('#datasecurity_accepted').prop('checked',true).trigger('change');" data-dismiss="modal">{{gT("Accept")}}</button>
            <button type="button" class="btn btn-default" onclick="$('#data-security-modal-{{aSurveyInfo.sid}}').collapse('hide');">{{gT("Close")}}</button>
        </div>
    </div>
</div>
