<!-- Privacy message -->
<div class="well">
    {% set describeprivacy = "" %}
    {% if aSurveyInfo.datasecurity_notice %}
        <div class="{{ aSurveyInfo.class.privacydatasectextbody }}" id="datasecurity_notice">
            {{ aSurveyInfo.datasecurity_notice }}
        </div>
        {% set datasecuritynotice = "datasecurity_notice" %}
        {% set describeprivacy = "datasecurity_notice" %}
    {% endif %}
    {% if aSurveyInfo.datasecurity_error %}
        <div class="{{ aSurveyInfo.class.activealert }} alert alert-danger alert-dismissible fade  in {% if not aSurveyInfo.datasecuritynotaccepted %}ls-js-hidden {% endif %} alert-dismissible" {{ aSurveyInfo.attr.activealert }} id="datasecurity_error">
            <a {{ aSurveyInfo.attr.activealertbutton }} class="{{ aSurveyInfo.class.activealertbutton }} close" aria-hidden="true">&times;</a>
            {{ aSurveyInfo.datasecurity_error }}
        </div>
    {% if aSurveyInfo.datasecuritynotaccepted == true %}
        {% set describeprivacy = "datasecurity_error " ~ describeprivacy %}
    {% endif %}
    {% endif %}
    <div class="form-inline">
        <label for="datasecurity_accepted" class="control-label {{ aSurveyInfo.class.privacydataseccheckboxlabel }}">
            <input required class="{{ aSurveyInfo.class.privacydataseccheckbox }}" type="checkbox" name="datasecurity_accepted" id="datasecurity_accepted"{% if describeprivacy %} aria-describedby="{{describeprivacy}}" {% endif %}/>
            {{ aSurveyInfo.datasecurity_notice_label }}
        </label>
    </div>
</div>
<script>
$(function() {
    if($('#datasecurity_error').length) {
        $("#ls-button-submit").on("click", function() {
            if(!$('#datasecurity_accepted').prop('checked')) {
                $('#datasecurity_error').removeClass("ls-js-hidden");
                $('#datasecurity_error').attr("role", "alert");
                $('#datasecurity_accepted').attr("aria-describedby", "datasecurity_error {{ datasecuritynotice }}");
            }
        });
    }
});
$("#datasecurity_accepted").on("change", function() {
    if($('#datasecurity_accepted').prop('checked')) {
        $('#datasecurity_error').addClass("ls-js-hidden");
    }
});
</script>
