{# since 10.12.1 #}<!-- Privacy message -->
<div>
    {% set describeprivacy = "" %}
    {% if aSurveyInfo.datasecurity_notice %}
        {% set datasecuritynotice = "datasecurity_notice" %}
        {% set describeprivacy = "datasecurity_notice" %}
    {% endif %}
    {% if aSurveyInfo.datasecurity_error and aSurveyInfo.datasecuritynotaccepted %}
        {% set describeprivacy = "datasecurity_error " ~ describeprivacy %}
    {% endif %}
    <label for="datasecurity_accepted" class="control-label {{ aSurveyInfo.class.privacydataseccheckboxlabel }}"> {{ aSurveyInfo.datasecurity_notice_label }}</label>
    <input required class="{{ aSurveyInfo.class.privacydataseccheckbox }} hide-sibling" type="checkbox" name="datasecurity_accepted" id="datasecurity_accepted" {% if describeprivacy %} aria-describedby="{{describeprivacy}}" {% endif %}/>
    {% if aSurveyInfo.datasecurity_error %}
        <div class="sibling-checked-hide {{ aSurveyInfo.class.activealert }} alert alert-danger alert-dismissible fade in {% if not aSurveyInfo.datasecuritynotaccepted %}ls-js-hidden {% endif %} alert-dismissible" {{ aSurveyInfo.attr.activealert }} id="datasecurity_error">
            <a {{ aSurveyInfo.attr.activealertbutton }} class=" {{ aSurveyInfo.class.activealertbutton }} close" aria-hidden="true">&times;</a>
            {{ aSurveyInfo.datasecurity_error }}
        </div>
    {% endif %}
    <p class="help-block"><a href="#data-security-modal-{{aSurveyInfo.sid}}" class="ls-nojs-hidden" data-toggle="collapse">{{ gT("Show policy") }}</a></p>

</div>
<div class="collapse fade" id="data-security-modal-{{aSurveyInfo.sid}}">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="modal-title">{{gT('Survey data policy')}}</h4>
        </div>
        <div class="panel-body {{ aSurveyInfo.class.privacydatasecmodalbody }}"  id="datasecurity_notice">
            {{ aSurveyInfo.datasecurity_notice }}
        </div>
        <div class="ls-no-js-hidden panel-footer" aria-hidden="true">
            <button type="button" class="btn btn-primary" onclick="$('#datasecurity_accepted').prop('checked',true).trigger('change');" data-dismiss="modal">{{gT("Accept")}}</button>
            <button type="button" class="btn btn-default" onclick="$('#data-security-modal-{{aSurveyInfo.sid}}').collapse('hide');">{{gT("Close")}}</button>
        </div>
    </div>
</div>
<script>
$(function() {
    if($('#datasecurity_error').length) {
        $("#ls-button-submit").on("click", function() {
            if(!$('#datasecurity_accepted').prop('checked')) {
                $('#datasecurity_error').removeClass("ls-js-hidden");
                $('#datasecurity_error').attr("role", "alert");
                $('#datasecurity_accepted').attr("aria-describedby", "datasecurity_error {{ datasecuritynotice }}");
            }
        });
    }
});
$("#datasecurity_accepted").on("change", function() {
    if($('#datasecurity_accepted').prop('checked')) {
        $('#datasecurity_error').addClass("ls-js-hidden");
    }
});
</script>
