<!-- Privacy message -->
<div class="well">
    <div class="{{ aSurveyInfo.class.privacydatasectextbody }}">
        {{ aSurveyInfo.datasecurity_notice }}
    </div>
    <div class="form-inline">
        <label for="datasecurity_accepted" class="control-label {{ aSurveyInfo.class.privacydataseccheckboxlabel }}">
            <input class="{{ aSurveyInfo.class.privacydataseccheckbox }}" type="checkbox" name="datasecurity_accepted" id="datasecurity_accepted" />
            {{ aSurveyInfo.datasecurity_notice_label }}
        </label>
    </div>
</div>
