{# Question index in group by group mode #}

{% if (aSurveyInfo.aQuestionIndex.bShow == true) %}
    {% if aSurveyInfo.format == 'G' %}
        <!-- Question index, group, {{ aSurveyInfo.aQuestionIndex.type }} -->
        <li class="{{ aSurveyInfo.class.indexmenugli }} dropdown index-menu-{{ aSurveyInfo.aQuestionIndex.type }}" {{ aSurveyInfo.attr.indexmenugli }} >
            <a class="{{ aSurveyInfo.class.indexmenuglia }} dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" tabindex="0"  >
                {{ gT("Question index") }}
                <span class="{{ aSurveyInfo.class.indexmenugspan }} caret" {{ aSurveyInfo.attr.indexmenugspan }}></span>
            </a>

            <ul class="{{ aSurveyInfo.class.indexmenusgul }} dropdown-menu" {{ aSurveyInfo.attr.indexmenusgul }}>
                {# TODO: move back this logic to SurveyRuntime, and provide a ready to use indexItem.statusClass #}
                {% for step, indexItem in aSurveyInfo.aQuestionIndex.items %}
                    {% set statusClass = ''  %}

                    {% if attribute(indexItem.stepStatus, 'index-item-unanswered') is defined and attribute(indexItem.stepStatus, 'index-item-unanswered') == true  %}
                        {% set statusClass = statusClass ~ ' bg-warning'  %}
                    {% endif %}

                    {% if attribute(indexItem.stepStatus, 'index-item-error') is defined and attribute(indexItem.stepStatus, 'index-item-error') == true   %}
                        {% set statusClass = statusClass ~ ' bg-danger'  %}
                    {% endif %}

                    {% if attribute(indexItem.stepStatus, 'index-item-current') is defined and attribute(indexItem.stepStatus, 'index-item-current') == true %}
                        {% set statusClass = statusClass ~  ' disabled'  %}
                    {% endif %}


                    <li class="{{ indexItem.coreClass }} {{ statusClass }}"  {{ aSurveyInfo.attr.indexmenusgli }} role="option">
                        <a data-limesurvey-submit='{{ indexItem.submit }}' class='animate' role="button" tabindex="-1">
                            {{ indexItem.text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

    {# Question index in question by question mode #}
    {% if aSurveyInfo.format == 'S' %}
        <!-- Question index, question by question, {{ aSurveyInfo.aQuestionIndex.type }} -->
        <li class="{{ aSurveyInfo.class.indexmenusli }} dropdown index-menu-{{ aSurveyInfo.aQuestionIndex.type }}" {{ aSurveyInfo.attr.indexmenusli }}>
            <a class="{{ aSurveyInfo.class.indexmenuslia }} dropdown-toggle animate" {{ aSurveyInfo.attr.indexmenuslia }}>
                {{ gT("Question index") }}
                <span class="{{ aSurveyInfo.class.indexmenusspan }} caret" {{ aSurveyInfo.attr.indexmenusspan }}></span>
            </a>
            <!-- TODO: Remove this when support is added -->
            <ul class="{{ aSurveyInfo.class.indexmenusddul }} dropdown-menu" {{ aSurveyInfo.attr.indexmenusddul }}>
            {% for group in aSurveyInfo.aQuestionIndex.items %}
                {# TODO: move back this logic to SurveyRuntime, and provide a ready to use indexItem.statusClass #}
                <li>
                    <div class="{{ aSurveyInfo.class.indexmenusddh }} dropdown-header" {{ aSurveyInfo.attr.indexmenusddh }}>
                        {{ flatEllipsizeText(group.text, true, 30, " &hellip; ", 0.6 ) }}
                        <span class="{{ aSurveyInfo.class.indexmenusddspan }} caret" {{ aSurveyInfo.class.indexmenusddspan }}></span>
                    </div>
                    <ul class="{{ aSurveyInfo.class.indexmenusddul }} dropdown-menu" {{ aSurveyInfo.attr.indexmenusddul }}>
                        {% for  step, indexItem in group.questions %}
                            {% set statusClass = ''  %}
                            {% if attribute(indexItem.stepStatus, 'index-item-unanswered') is defined and attribute(indexItem.stepStatus, 'index-item-unanswered') == true  %}
                                {% set statusClass = statusClass ~ ' bg-warning'  %}
                            {% endif %}
                            {% if attribute(indexItem.stepStatus, 'index-item-error') is defined and attribute(indexItem.stepStatus, 'index-item-error') == true   %}
                                {% set statusClass = statusClass ~ ' bg-danger'  %}
                            {% endif %}
                            {% if attribute(indexItem.stepStatus, 'index-item-current') is defined and attribute(indexItem.stepStatus, 'index-item-current') == true %}
                                {% set statusClass = statusClass ~  ' disabled'  %}
                            {% endif %}
                            <li class="{{ indexItem.coreClass }} {{statusClass}}"  {{ aSurveyInfo.attr.indexmenussli }}>
                                <a href="#" data-limesurvey-submit='{{ indexItem.submit }}' class='animate' role="button" tabindex="-1">
                                    {{ flatEllipsizeText(indexItem.text, true, 30, " &hellip; ", 0.6 ) }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            {% if aSurveyInfo.aQuestionIndex.type == 'full' %}
                <li> 
                    {{ gT("Question by question mode not yet supported.") }}
                </li>
            {% endif %}
            </ul>
        </li>
    {% endif %}
{% endif %}
